body {
  margin: 0;
  background-color: #b3b3b3;
  font-family: sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.jsx-box {
  background-color: white;
  padding: 40px 60px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.jsx-text {
  color: blue;
  font-size: 4rem;
  font-weight: bold;
}
